p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: rgb(27, 24, 24);
}

button {
  margin-left: 1rem;
}

html,
body {
  height: 100%;
  /*background-color: #373d55; */
  font-family: Arial, Helvetica, sans-serif;
}
div.buttonArea {
  position: relative;
  top: -2px;
  text-align: center;
}
div.totalsbox {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
  font-size: large;
}
div.infoBox {
  position: relative;
  width: 12%;
  top: 20px;
  font-size: 110%;
}
div.totalPins,
div.totalInters {
  position: absolute;
}
div.CurrentPi {
  position: relative;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  font-size: small;
  top: 10px;
  left: 5px;
}
#logo img {
  max-width: 10%;
  height: auto;
}
#top {
  position: absolute;
  top: 2px;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
}
#bigButton {
  background-color: "Red"; /* Green */
}
